<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
    ErrorDocument 404 /Kairos/paginas/erros/erro.html
    ErrorDocument 401 /erros/authreqd.html
    ErrorDocument 403 /Kairos/paginas/erros/erro.html
    ErrorDocument 500 /erros/serverr.html

Options -Indexes